[Unit]
Description=MASA.Admin ASP.NET Core Service
After=network.target

[Service]
WorkingDirectory=/var/www/masa/admin
ExecStart=/usr/bin/dotnet /var/www/masa/admin/MASA.Admin.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=masa-admin
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
